.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.invite {
  background-color: #d0e2ec;
/*   background-image: url("../img/photo-sedona.jpg");
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover; */
}

.filters {
  background-color: #82b5d3;
/*   background-image: url("../img/photo-sedona.jpg");
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover; */
}

.icon-htmlacademy:hover path {
  fill: #81b3d2;
}

.icon-htmlacademy:active path {
  fill: #bdbbbc;
}
