/*** Общая стилизация ***/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*** Позиционирование крупных блоков***/

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

/*** Общее верхнее меню ***/
.main-nav {
  position: relative;
}

.main-nav__list {
  display: flex;
  min-height: 56px;
  margin: 0;
  padding: 15px 0;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.main-nav__logo {
  position: absolute;
  top: 0px;
  left: calc(50% - 69px);
  width: 138px;
  height: 70px;
}

.main-nav__item {
  min-width: 240px;
  text-align: center;
}

.main-nav__item:nth-of-type(4n-1) {
  margin-left: 240px;
}

.main-nav__item:nth-of-type(4n) .main-nav__link {
  margin-left: 5px;
}

.main-nav__item:nth-of-type(4n) .main-nav__link {
  margin-left: 15px;
}

.main-nav__link {
  font-weight: 700;
  color: #000000;
}

.main-nav__link:not([href]) {
  color: #766357;
}

.main-nav__link:hover,
.main-nav__link:focus {
  outline: none;
  color: #81b3d2;
}

.main-nav__link:active {
  color: #cacaca;
}


/*** Стили для index.html ***/

.invite {
  background-color: #d0e2ec;
  background-image: url("../img/shape-sedona-1200.svg"), url("../img/photo-sedona.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, 50% -56px;
  background-size: 100%, cover;
}

.invite img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 80px;
  width: 458px;
  height: 352px;
}

.preface {
  min-height: 215px;
  padding: 60px 320px 20px;
  text-align: center;
}

.preface__caption {
  margin: 0;
  margin-bottom: 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.preface__text {
  margin: 0;
  line-height: 26px;
  color: #333333;
}

.reasons {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 256px;
  justify-content: center;
  list-style: none;
  z-index: 3;
}

.reasons__item {
  width: 400px;
  padding: 47px 0;
  text-align: center;
}

.reasons img {
  width: 800px;
  height: 256px;
  align-self: center;
}

.reasons--featured {
  min-height: 330px;
}

.reasons__item--featured {
  padding-top: 161px;
}

.reasons__caption {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 120px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.reasons__number,
.reasons__content {
  display: inline-block;
  margin: 0;
  padding: 0 35px;
  line-height: 21px;
  vertical-align: middle;
  font-weight: 400;
  color: #333333;
}

.reasons--blue {
  background-color: #81b3d2;
}

.reasons--blue .reasons__caption,
.reasons--blue .reasons__number,
.reasons--blue .reasons__content {
  color: #ffffff;
}

.reasons--grey {
  background-color: #eeeeee;
}

.reasons__number {
  position: relative;
  padding: 0 60px;
  margin-bottom: 20px;
}

.reasons__number::before,
.reasons__number::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  top: 10px;
  left: 50%;
  margin-left: 16px;
  vertical-align: middle;
  background: #ffffff;
}

.reasons__number::before {
  margin-left: -24px;
}

.reasons--grey .reasons__number::before,
.reasons--grey .reasons__number::after {
  background-color: #333333;
}

.reasons__caption--featured {
  position: relative;
}

.reasons__caption--featured::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 76px;
  top: -100px;
  left: 50%;
  margin-left: -37px;
}

.icon-house::before {
  background: url("../img/icon-house.svg") no-repeat 0 0;
}

.icon-burger::before {
  background: url("../img/icon-burger.svg") no-repeat 0 0;
  top: -100px;
  margin-left: -39px;
}

.icon-souvenir::before {
  background: url("../img/icon-souvenir.svg") no-repeat 0 0;
  top: -104px;
  margin-left: -32px;
}

/* Блок с вызовом формы Booking */

.booking {
  position: relative;
  padding: 54px 20px 0;
  min-height: 291px;
  text-align: center;
  background-color: #ffffff;
  z-index: 3;
}

.booking__caption {
  margin: 0;
  margin-bottom: 27px;
  padding: 0 350px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.booking__content {
  margin: 0;
  margin-top: 25px;
  padding: 0 300px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.booking__btn {
  margin-top: 46px;
  min-width: 570px;
  height: 86px;
  line-height: 86px;
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
	text-transform: inherit;
	border: 0;
}

/* Форма booking */

.booking__form-container {
  position: relative;
}

.booking__form {
  position: absolute;
  padding: 55px;
  top: 0;
  left: calc(50% - 285px);
  width: 570px;
  min-height: 395px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.js-booking__modal {
  top: -400px;
}

.js-booking__crawl--out {
  transform: translateY(400px);
  transition-duration:  0.6s;
  animation-timing-function: ease-in;
}

.js-booking__crawl--in {
  transform: translateY(0);
  transition-duration:  0.6s;
  animation-timing-function: ease-in;
}

.booking__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.bookig__label {
  width: 113px;
  cursor: pointer;
}

.booking__label--far {
  margin-left: 53px;
  width: 65px;
}

.booking__input {
  padding-left: 13px;
  padding-right: 30px;
  width: 346px;
  height: 38px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.js__input--error {
  border: 1px dotted #ea5535;
}

.booking__input--short {
  padding: 0;
  text-align: center;
  width: 38px;
}

.booking__input:hover {
  background-color: #ebebeb;
}

.booking__input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.booking__input::placeholder {
  color: #000000;
}

.booking__input::-ms-input-placeholder {
  color: #000000;
}

.booking__input:-ms-input-placeholder {
  color: #000000;
}

.booking__calender {
  position: absolute;
  width: 21px;
  height: 22px;
  top: calc(50% - 11px);
  right: 10px;
  cursor: pointer;
}

.booking__calender::before {
/* Чтобы IE передал состояние active на svg*/
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.booking__input:hover + .booking__calender path,
.booking__calender:hover path {
  fill: #000000;
}

.booking__input:active + .booking__calender path,
.booking__input:focus + .booking__calender path,
.booking__calender:active path,
.booking__calender:focus path  {
  fill: #81b3d2;
}

.booking__quantity-btn {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.booking__quantity-btn:focus {
  outline: none;
}

.booking__quantity-btn:hover rect,
.booking__quantity-btn:focus rect {
  fill: #000000;
}

.booking__quantity-btn:active rect {
  fill: #81b3d2;
}

.search__btn {
  min-width: 458px;
  height: 58px;
  margin-top: 24px;
  text-transform: inherit;
  font-size: 21px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}


/*** Общие цветные кнопки ***/

.btn--blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.btn--blue:hover,
.btn--blue:focus {
  background-color: #669ec0;
  outline: none;
}

.btn--blue:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.btn--brown {
  background-color: #766357;
  color: #ffffff;
}

.btn--brown:hover,
.btn--brown:focus {
  background-color: #604e43;
  outline: none;
}

.btn--brown:active {
  background-color: #503e33;
  color: #857871
}

/* Карта для index.html */
.map {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 473px;
}

.map__container {
  position: relative;
	margin: 0;
}

.map__iframe {
  content: "";
  position: absolute;
	top: 0;
	left: 0;
	width: 1200px;
	height: 473px;
	z-index: 1;
}

/*** Стили для hotels.html ***/

.filters {
  min-height: 217px;
  background-color: #82b5d3;
  background-image: url("../img/photo-blurred-1200.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.filters__form {
  display: flex;
  padding: 27px 50px 5px 70px;
  text-transform: inherit;
  line-height: 21px;
  font-size: 14px;
  color: #ffffff;
}

.filters__legend {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
}

.filters__price .filters__legend {
  margin-bottom: 10px;
 }

.filters__infrastructure,
.filters__type,
.filters__price {
  margin: 0;
  padding: 0;
  border: none;
}

.filters__infrastructure {
  min-width: 255px;
}

.filters__type {
  min-width: 485px;
}

.filters__price {
  min-width: 410px;
  margin-bottom: 32px;
}

.filters__checkboxes {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__item {
  margin-bottom: 25px;
}

.filters__label-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.filters__label-checkbox input[type="checkbox"] + .checkbox-indicator {
  content: "";
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filters__label-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  outline: 1px solid #308cfc;
}

.filters__label-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  border-color: #6a6a6a;
}

.filters__label-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: -1;
  left: -1;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  border: none;
}

.filters__label-checkbox input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  border: none;
}

.filters__price-hint {
  position: relative;
  margin-bottom: 20px;
  width: 318px;
  height: 36px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filters__price-hint::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 6px;
  width: 2px;
  height: 21px;
  background-color: #ffffff;
}

 .filters__price-min,
 .filters__price-max {
  display: inline-block;
  padding-left: 65px;
  width: 155px;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
 }

.filters__price-max {
  padding-left: 57px;
}

.filters__price-min input,
.filters__price-max input {
  margin: 0;
  width: 50px;
  height: 34px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filters__price-controls {
  position: relative;
  width: 318px;
}

.filters__price-scale {
  height: 2px;
  background-color: rgba(255,255,255,0.3);
}

.filters__price-bar {
  height: 2px;
  width: 80%;
  background-color: #ffffff;
}

.filters__price-toggle {
  position: absolute;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  top: -9px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
	transition: all linear 0.2s;
}

.filters__price-toggle--min {
  left: 0;
}

.filters__price-toggle--max {
  left: 80%;
}

.filters__price-toggle:hover {
  border: 9px solid #ffffff;
	transition: all linear 0.2s;
}

.filters__btn--big {
  margin-left: 85px;
  padding: 0;
  min-width: 136px;
  height: 36px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-transform: inherit;
  background: transparent;
  color: inherit;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filters__btn--big:hover,
.filters__btn--big:focus  {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

/* Сортировка для hotels.html */
.sort {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 70px 20px 70px ;
  min-height: 85px;
  align-items: center;
  line-height: 18px;
  font-size: 12px;
}

.sort__info {
  min-width: 165px;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
}

.sort__caption {
  min-width: 115px;
}

.sort__variants {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.sort__item {
  min-width: 80px;
}

.sort__item__link {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort__item__link:hover,
.sort__item__link:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  outline: none;
}

.sort__item__link:active {
  color: #000000;
  border-bottom: none;
}

.sort__item__link--chosen {
  color: #81b3d2;
  border-bottom: none;
}

.sort__direction {
  display: flex;
  margin: 0;
  margin-left: auto;
  align-items: center;
  padding: 0;
  min-width: 50px;
  list-style: none;
  font-size: 9px;
}

.sort__direction__link {
  position: relative;
  display: block;
  margin-left: auto;
  text-align: right;
  width: 22px;
  height: 10px;
}

.sort__direction__link::before {
/* Чтобы IE передал состояние active на svg*/
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sort__direction__link:focus {
  outline: none;
}

.sort__direction__link:hover path,
.sort__direction__link:focus path {
  fill: #231f20;
}

.sort__direction__link:active  path {
  fill: #81b3d2;
}

.sort__direction__link--chosen path {
  fill: #81b3d2;
}

/* Гостиницы для hotels.html */

.hotels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels__item {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 70px;
  min-height: 150px;
  align-items: flex-start;
  border-top: 1px solid #e5e5e5;
}

.hotels__item:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.hotels__column {
  margin: 0;
}

.hotels__photo {
  width: 165px;
  height: 90px;
}

.hotels__photo img {
  width: 135px;
  height: 90px;
}

.hotels__info {
  margin: 0;
  width: 782px;
}

.hotels__name {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 7px;
}

.hotels__name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
}

.hotels__name a:hover,
.hotels__name a:focus {
  color: #81b3d2;
  outline: none;
}

.hotels__name a:active {
  color: #cacaca;
}

.hotels__text {
  margin: 0;
  margin-bottom: 14px;
  line-height: 21px;
  color: #333333;
}

.hotels__type {
  display: inline-block;
  width: 110px;
  vertical-align: middle;
}

.hotels__price {
  display: inline-block;
  margin-left: 4px;
  width: 142px;
  vertical-align: middle;
}

.hotels__btn {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.hotels__btn--details {
  min-width: 110px;
}

.hotels__btn--book {
  margin-left: 4px;
  min-width: 142px;
}

.hotels__rating {
  min-width: 112px;
}

.hotels__rating-text {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 63px;
  width: 110px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  color: #666666;
  background-color: #f2f2f2;
}

.hotels__rating-text::before {
  content: "";
  position: absolute;
  bottom: 75px;
  right: -3px;
  height: 17px;
  width: 23px;
  background: url("../img/star.svg") repeat-x 0 0;
}

.hotels__star--two::before {
  width: 46px;
}

.hotels__star--three::before {
  width: 69px;
}

.hotels__star--four::before {
  width: 92px;
}

.hotels__star--five::before {
  width: 115px;
}


/*** Общий футер ***/

.footer-global--index {
  position: relative;
}

.footer-main {
  display: flex;
  min-height: 120px;
  background-color: #fefefe;
}

.footer-main--index {
  position: relative;
  background: url("../img/footer-layer.png") no-repeat 0 0;
  z-index: 2;
}

.footer-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  min-height: 120px;
  background-color: blue;
  background: url("../img/footer-map.jpg") no-repeat 0 0;
  z-index: 1;
}

.footer__column {
  width: 400px;
  text-align: center;
}

.footer__link--hashtag {
  display: inline-block;
  padding: 45px 0 0;
  font-size: 21px;
  vertical-align: middle;
  font-weight: 700;
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 33px 0;
  width: 148px;
  list-style: none;

}

.footer__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2px;
  width: 46px;
  height: 48px;
  font-size: 9px;
  background-color: #81b3d2;
}

.footer__btn::before {
/* Чтобы IE передал состояние active на svg*/
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer__btn:hover,
.footer__btn:focus {
  background-color: #669ec0;
  outline: none;
 }

.footer__btn:active {
  background-color: #5496bd;
 }

 .footer__btn:active path {
  fill: #81b3d2;
 }

.footer__link--htmlacademy {
  display: block;
  padding: 37px 0;
  margin-left: 103px;
  height: 41px;
}

.footer__link--htmlacademy b {
  display: block;
  float: left;
  margin-right: 8px;
  margin-top: 12px;
  font-weight: 400;
  color: #000000;
}

.footer__link--htmlacademy:focus {
  outline: none;
}

.icon-htmlacademy {
  float: left;
}

.icon-htmlacademy:hover path,
.footer__link--htmlacademy:focus path {
  fill: #81b3d2;
}

.icon-htmlacademy:active path {
  fill: #bdbbbc;
}
